[Documents]
uploads-path = ./uploads
prompts-path = ./prompts
chroma-path = ./chroma

[LLM]
key = {openai llm key}
OPENAI_USERNAME = {openai username}
OPENAI_ENDPOINT = {openai endpoint}
OPENAI_API_KEY = user={username}&key={key}
OPENAI_MODEL=gpt-4o
#OPENAI_EMBEDDING_MODEL=text-embedding-ada-002
OPENAI_EMBEDDING_MODEL=text-embedding-3-large

[RAG]
RAQ_QUERY_SCOPE_DEFAULT = 21

[CHROMA]
CHUNK_SIZE = 1000
CHUNK_OVERLAP = 80
